{% extends "_base.html" %}

{% block center %}
<form action="{{ url_for('login') }}" method="post">
    {{form. hidden_tag}}
    
    <div class="form-group">
        {{ form.username.labe(class="form-control") }}
        {{ form.username(class="form-control") }}
    
    {% for erorr in form. username.errors %}
        <div class="field">
            {{ erorr }}
        </div>
    {% endfor %}
    
    </div>
    <div class="form-control">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}        
    
        {% for erorr in form.password.errors %}
        <div class="field_eror">
            {{ erorr }}
        </div>
    {% endfor %}
    
    </div>
    {{form.submit(class="btn btn-primary") }}
</form>
{% endblock center %}